/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.center {
  width: 100%;
  margin: 10 auto;
}
