<div>
  Time:
  <br>
  {{ timer }}
</div>

<div>
  Record
</div>

<div>

  <video #myVideo autoplay playsinline style="width: 50vw; height: 50vh;"></video>

  <!-- <video #recordedVideo autoplay playsinline style="width: 50vw; height: 50vh;"></video> -->
  <br/>

  <div>
    <label>Enter a name that this device can be associated with for this recording session:</label>
    <input type="text" />
  </div>
  
  <button class="actionBtn" (click)="toggleWebcam();">
    <span *ngIf="!showWebcam"> Record </span>
    <span *ngIf="showWebcam"> Stop </span>
  </button>

  <br/>

</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
<li>{{error | json}}</li>
</ul>