<div *ngIf="sessions.length > 0; else elseBlock">
  <div>Previous Recordings:</div>

  <div *ngFor="let session of sessions" class="card">
    <div class="body">
      <div>Session Id: {{ session.id }}</div>

      <div>Device Name{{ session.deviceName }}</div>

      <div>TimeStarted: {{ session.sessionStart }}</div>

      <!-- <div>
        Duration: {{ session.duration }}
        {{ session.durationUnit.toLowerCase() }}
      </div> -->
    </div>

    <button
      (click)="viewRecordings(session.id)"
      class="btn btn-link"
      aria-expanded="true"
    >
      View Recordings:
    </button>

    <div
      *ngIf="showSession[session.id]"
    >
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let videoMetadata of session.videoMetadatas"
          class="list-group-item"
        >
        <a href="{{ videoMetadata.url }}" download="{{ videoMetadata.id }}">Part {{ videoMetadata.part }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #elseBlock> You have no recordings at the moment! </ng-template>
