<a class="nav-item nav-link" routerLink="/streamer" > Stream from device </a>

<a class="nav-item nav-link" routerLink="/view-live-stream" > View live stream </a>


<div *ngIf="sessions.length > 0; else elseBlock">
  <div>Previous Recordings!</div>
  
  <div *ngFor="let session of sessions">
    <h3>{{ session.sessionId }} on {{ session.deviceName }}</h3>
    <div>
      TimeStarted: {{ session.timeStarted }} 
      &
      Duration: {{ session.duration }}
    </div>
    <a>Click here to view the recordings!</a>
  </div>

</div>

<ng-template #elseBlock>
  You have no recordings at the moment!
</ng-template>